

.navbar {
	background-color:lightblue;
}

.nav-item a{
	color: white;
}

.nav-item a:hover{
	color:white;
	text-shadow: 0px 0px 5px lightblue, 0 0 25px #34C924;
}

.navbar-toggler-icon{
	color:white;
}

/*supression marges par défaut*/
body,html
{
	margin:0;
	padding:0;
}

/*images de la grille style simple*/
#containerGallerie img
{
	border-radius:3px;
	border:6px solid white;
}

/*container des images*/
#containerGallerie 
{
	background-color:#ededed;
}


#overlay, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8, #overlay9, #overlay10, #overlay11, #overlay12 
{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  text-align: center;
  color: white;
}

#overlay img, #overlay2 img, #overlay3 img, #overlay4 img, #overlay5 img, #overlay6 img, #overlay7 img, #overlay8 img, #overlay9 img, #overlay10 img, #overlay11 img, #overlay12 img 
{
	margin-top:10%;
}

#overlay p, #overlay2 p, #overlay3 p, #overlay4 p, #overlay5 p, #overlay6 p, #overlay7 p, #overlay8 p, #overlay9 p, #overlay10 p, #overlay11 p, #overlay12 p
{
	width: 80%;
	margin-left: 10%;
}
/***** Footer *****/
a { 
color: #79a05f; 
border-bottom: 1px dashed #79a05f; 
text-decoration: none; 
transition: all .3s; 
}
a:hover, a:focus { 
color: #79a05f; 
border: 0; 
text-decoration: none; 
}

h1, h2 { 
margin-top: 10px; 
font-size: 38px; 
font-weight: 300; 
color: #555; 
line-height: 50px; 
font-style: italic; 
}
h3 { 
font-size: 22px; 
font-weight: 300;
color: #555; 
line-height: 30px; 
font-style: italic; 
}

img { 
max-width: 100%; 
}

.footer-top { 
padding: 60px 0; 
background: #333; 
text-align: left; 
color: #aaa; 
}
.footer-top h3 { 
padding-bottom: 10px; 
color: #fff; 
}

.footer-about img.logo-footer { 
max-width: 74px; 
margin-top: 0; 
margin-bottom: 18px; 
}

.footer-about p a {
border: 0; 
}
.footer-about p a:hover, .footer-about p a:focus { 
border: 0; 
}

.footer-contact p { 
word-wrap: break-word; 
}

.footer-contact i { 
padding-right: 10px; 
font-size: 18px; 
color: #666; 
}

.footer-contact p a { 
border: 0; 
}

.footer-contact p a:hover, .footer-contact p a:focus { 
border: 0; 
}

.footer-links a { 
color: #aaa; 
border: 0; 
}

.footer-links a:hover, .footer-links a:focus { 
color: #fff; 
}

.footer-bottom { 
padding: 15px 0 17px 0; 
background: #444; 
text-align: left; 
color: #aaa; 
}

.footer-social { 
padding-top: 3px; 
text-align: right; 
}

.footer-social a { 
margin-left: 20px; 
color: #777; 
border: 0; 
}

.footer-social a:hover, .footer-social a:focus { 
color: #79a05f; 
border: 0; 
}

.footer-social i { 
font-size: 24px; 
vertical-align: middle; 
}

.footer-copyright { 
padding-top: 5px; 
}

.footer-copyright a { 
color: #fff; 
border: 0; 
}

.footer-copyright a:hover, .footer-copyright a:focus { 
color: #aaa; 
border: 0; 
}
/***** Footer *****/

/***** Media Queries Footer *****/
@media (min-width: 992px) and (max-width: 1199px) {
	
	.footer-top { padding: 40px 0; }
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.footer-top { padding: 40px 0; }
	.footer-contact i { padding-right: 5px; }

}

@media (max-width: 767px) {
	
	.footer-top { padding: 40px 0; text-align: center; }
	.footer-contact i { padding-right: 5px; }
	.footer-bottom, .footer-social { text-align: center; }
	.footer-social a { margin: 0 10px; }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

/***** Media Queries Footer *****/

